<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--The location of where our tile cache is-->
    <add key="TileCacheDirectory" value="d:\tilecache" />
    <!-- To run without a cache, either don't define this key, or make it zero length as below-->
    <!--<add key="TileCacheDirectory" value=""/>-->
    <add key="TileCacheMaxSizeGB" value="1" />
    <add key="TileCacheOldestAccessTime" value="0.0:01" />
    <!--{ d | [d.]hh:mm[:ss[.ff]] }-->
    <add key="TileCacheExpireTime" value="00:00:00" />
    <!--Hour:Minute:Second-->
    <add key="TileCacheExpireInterval" value="0.1:00" />
    <!--{ d | [d.]hh:mm[:ss[.ff]] }-->
    <!--Location of custom geometry stored on disk local to tile renderer - this is copied from the remote location (e.g. DataDrop) on demand for rendering.
    Set GeometryCacheDirectory to "" to run without a local geometry file cache i.e. everything is always read from the remote location-->
    <add key="GeometryFeatureCacheSize" value="1024" />
    <!--Number of features to store in the geometry circular cache in memory-->
    <add key="GeometryCacheDirectory" value="c:\geomcache" />
    <add key="GeometryCacheMaxFiles" value="2" />
    <!--Number of custom geometry sets to keep in the cache - oldest gets deleted (1 file = 4 geometry files)-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".zip" />
      <mimeMap fileExtension=".zip" mimeType="application/zip, application/octet-stream" />
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".prj" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>